.about-header {
    display: flex;
    align-items: center;
    padding: 7px;
    justify-content: space-between;
    width: 85%;
}

.about {
    margin-left: 100px;
    margin-top: 20px;
}
.about p {
    padding: 7px;
    margin-bottom: 15px;
    font-size: large;
}

h1 {
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 20px;
}