.auth-form {
    width: 25rem;
    height: 35rem;
    max-width: 80%;
    margin: 8rem auto;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
}
.login-card {
    margin-left: 2rem;
}

.login-card h2 {
    margin: 0;
    padding: 0;
    color: #333;
    margin-left: 8rem;
    margin-bottom: 0.8rem;
}

.login-card img {
    height: 5rem;
    margin-top: 2rem;
    margin-left: 8rem;
}

.form-control label,
.form-control input {
    display: block;
    width: 90%;
    height: 30px;
}

/*.form-control label {*/
/*    margin-bottom: 0.5rem;*/
/*}*/

.form-control {
    margin-bottom: 1rem;
}

.form-actions button {
    background: #b1d5f3;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    margin-top: 1.5rem;
    margin-left: 5rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    color: #000;
    cursor: pointer;
    height: 50px;
    width: 180px;
}

.form-actions button:hover,
.form-actions button:active {
    background: #5b9bd2;
    border-color: aliceblue;
    color: #fff;
}

.signup {
    margin-top: 3rem;
    margin-left: 2.5rem;
}

.signup a{
    text-decoration: none;
    color: #3ca2f6;
    margin-left: 0.4rem;
}